
{% if page.title == 'policy' %}
  <footer class="footer">
    <div class="footer__container">
      <p class="footer__container-text"><a href="{{ site.baseurl }}/index">Home</a></p>
      <p class="footer__container-divider">|</p>
      <p class="footer__container-text">Copyright 2017</p>
      <!-- second string для переноса строки на маленьких экранах -->
      <div class="footer__container-second-string">
        <p class="footer__container-text"><a href="{{ site.baseurl }}/index">&nbsp;contact.center</a></p>
        <p class="footer__container-divider">|</p>
        <p class="footer__container-text">All rights reserved.</p>
      </div>
    </div>
  </footer>
{% else %}
  <footer class="footer">
    <div class="footer__container">
      <p class="footer__container-text">contact.center is proudly supported by team DIDWW</p>
      <!-- second string для переноса строки на маленьких экранах -->
      <div class="footer__container-second-string">
        <p class="footer__container-divider">|</p>
        <p class="footer__container-text">2017 ©</p>
        <p class="footer__container-divider">|</p>
        <p class="footer__container-text"><a href="{{ site.baseurl }}/privacy_policy">privacy policy</a></p>
      </div>
    </div>
  </footer>
{% endif %}
