<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.title == 'policy' %}
    <title>Privacy Policy | contact.center™</title>
  {% else %}
    <title>Contact with DidWW | contact.center™</title>
  {% endif %}


  <meta name="description" content="Contact Center">


  <link rel="canonical" href="https://contact,center/">
  <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/images/logo.png"/>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/template.css">
  <style>
    @font-face {
      font-family: "Open Sans Regular";
      src: url("{{ site.baseurl }}/assets/fonts/OpenSans-Regular.ttf");
     }
    @font-face {
      font-family: "Open Sans Light";
      src: url("{{ site.baseurl }}/assets/fonts/OpenSans-Light.ttf");
     }
    @font-face {
      font-family: "Open Sans SemiBold";
      src: url("{{ site.baseurl }}/assets/fonts/OpenSans-SemiBold.ttf");
     }
  </style>
</head>
