<header class="header">
  <div class="header__container">

  <div id="dropdown" class="dropdown">
    <div id="dropdown-toggle" class="dropdown-menu__item">

      <div class="dropdown-menu__item-logo">
        <img src="{{ site.baseurl }}/images/product-logo.svg" alt="Logo" class="dropdown-menu__item-logo-img">
      </div>
      <div class="dropdown-menu__item-text">
        <p class="dropdown-menu__item-text-p">contact.center<sup class="dropdown-menu__item-text-high-index">TM</sup></p>
      </div>
      <div class="dropdown-menu__item-arrow">
        <img src="{{ site.baseurl }}/images/drop-down-arrow.svg" alt="dropdown-menu arrow" class="dropdown-menu__item-arrow-img">
      </div>
    </div>

    <div class="dropdown-menu">
      <a class="dropdown-menu__item-reference" href="https://call.center/">
          <div class="dropdown-menu__item-logo">
            <img src="{{ site.baseurl }}/images/call-center-logo.svg" alt="Logo" class="dropdown-menu__item-logo-img">
          </div>
          <div class="dropdown-menu__item-text">
            <p class="dropdown-menu__item-text-p dropdown-menu__item-text-fix">call.center<sup class="dropdown-menu__item-text-high-index">TM</sup></p>
          </div>
      </a>

      <a class="dropdown-menu__item-reference" href="https://phone.systems/">
          <div class="dropdown-menu__item-logo">
            <img src="{{ site.baseurl }}/images/phone-systems-logo.svg" alt="Logo" class="dropdown-menu__item-logo-img">
          </div>
          <div class="dropdown-menu__item-text">
            <p class="dropdown-menu__item-text-p dropdown-menu__item-text-fix">phone.systems<sup class="dropdown-menu__item-text-high-index">TM</sup></p>
          </div>
      </a>

      <a class="dropdown-menu__item-reference" href="https://local.global/">
          <div class="dropdown-menu__item-logo">
            <img src="{{ site.baseurl }}/images/local-global-logo.svg" alt="Logo" class="dropdown-menu__item-logo-img">
          </div>
          <div class="dropdown-menu__item-text">
            <p class="dropdown-menu__item-text-p dropdown-menu__item-text-fix">local.global<sup class="dropdown-menu__item-text-high-index">TM</sup></p>
          </div>
      </a>

    </div>

  </div>
</div>

<script async src="{{ site.baseurl }}/assets/js/dropdown_menu.js"></script>

</header>
