
%dropdown-menu-items-align {
  padding: 0 15px;
  height: 70px;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 210px;
  cursor: pointer;
}

%dropdown-menu-link-style {
  text-decoration: none;
  color: $header-font-color;
}

.header {
  height: 70px;
  background-color: $header-bg-color;
  flex: 0 0 auto;

  &__container {
    max-width: 1030px;
    margin: 0 auto;
    display: flex;

    @media only screen and (min-width: 481px) {
      justify-content: space-between;
    }
  }
}

.dropdown {
  display: flex;
  -moz-user-select: none;
  -webkit-user-select: none;
  position: relative;
  flex-flow: column nowrap;


  &-menu {
    display: flex;
    flex-direction: column;
    // min-width: 218px;
    width: 100%;
    position: absolute;
    top: 70px;

    overflow: hidden;
    height: 0;
    transition: height 0.5s ease;


    &__item {
      @extend %dropdown-menu-items-align;
      background-color: $dropdown-toggle-button-bg-color;

        &-logo {
          width: auto;
          height: 40px;
        }

        &-text {
          height: 40px;
          font-family: $header-font;
          font-size: $header-font-size;
          color: $header-font-color;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          min-width: 150px; //for arrow to be justified at right. Change in case text growing in width

          &-p {
            padding-left: 12px;
          }

          // &-fix {// Fix to make dropdown menu items have the same width as the primal item
          //   padding-right: 18px;
          // }

          &-high-index {
            // font-size: 8px;
            // margin-left: 13px;
            // position: relative;
            // bottom: 10px;
            // top: auto;
            font-size: 6px;
            margin-left: 1px;
            position: relative;
            bottom: 14px;
            top: auto;
          }
        }

        &-arrow {
          display: flex;
          flex-flow: row nowrap;
          flex-shrink: 4;
          justify-content: flex-end;
          min-width: 18px;

          &-img {
            transition-timing-function: linear;
            transition: 0.3s;
          }
        }

        &-reference {
          @extend %dropdown-menu-items-align;
          @extend %dropdown-menu-link-style;
          background-color: $dropdown-item-bg-color;
          flex-shrink: 0;

          &:visited,
          &:active,
          &:focus,
          &:hover {
            @extend %dropdown-menu-link-style;
          }

          &:hover {
            background-color: $dropdown-item-bg-hover-color;
          }
        }
    }
  }

  &--open {
    .dropdown-menu {
      display: flex;
      height: 210px;

      &__item {
        &-arrow {
          &-img {
            transform: rotate(180deg);
            transition-timing-function: linear;
            transition: 0.3s;
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 480px) {

  .header {

    &__container {
      justify-content: space-around;
    }
  }

  .dropdown{
    flex-grow: 1;

    &-menu{
      width: 100%;

      &__item{
        flex-grow: 1;

        &-text {
          flex-grow: 1;
        }
      }
    }
  }
}
